* {
    box-sizing: border-box;
}


.card-container {
    width: 25%;
}

.weatherContainer {
   border-style: solid;
   margin-top: 20px;
}

/* .low-uv {
    background-color: green;
}

.moderate-uv {
    background-color: yellow;
}

.severe-uv {
    background-color: red;
} */