* {
    box-sizing: border-box;
}


.card-container {
    width: 25%;
}

.weatherContainer {
   margin-top: 20px;
}

#forecast {
    margin-left: 30px;
}

.card-container {
    margin-left: 30px;
}

.border-weight {
    border-style: solid;
    margin: 35px;
    padding: 20px 30px; 
    border-radius: 25px;
}